@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

@font-face {
	font-family: 'brawl';
	src: url('fonts/brawl.otf');
}

* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	background-color: #78B6FB;
}

header {
	width: 100%;
}

header>div#title {
	width: 100%;
	position: relative;
	display: inline-block;
	text-align: center;
}

header>div#title>img {
	width: 100%;
}

header>div#title>span#brawl {
	position: absolute;
	font-family: brawl;
	font-size: 5vw;
	top: 10%;
	right: 49%;
	color: #FFF!important;
	text-shadow: 2px 0 2px #000, 0 2px 2px #000, -2px 0 2px #000, 0 -2px 2px #000;
}

header>div#title>span#shop {
	position: absolute;
	font-family: brawl;
	font-size: 5vw;
	top: 10%;
	left: 52%;
	color: #FF0000!important;
	text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
}

header>div#links {
	position: relative;
	margin-top: -2%;
	text-align: center;
}

header>div#links>a {
	text-decoration: none;
	font-family: 'Roboto Slab', serif;
	font-size: 2.25vw;
	right: 50.5%;
	border: 1px solid #831EFF;
	background-color: rgba(116, 126, 186, 0.7);
	opacity: 1;
	border-radius: 20px;
	color: #FFF;
	text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
	transition: 0.5s linear;
}

header>div#links>a:hover {
	background-color: rgba(116, 126, 186, 0);
	border: 1px solid #343434;
}

header>div#links>a#gems {
	padding-left: 5%;
	padding-right: 5%;
	margin-right: 5%;
}

header>div#links>a#rev {
	padding-left: 3%;
	padding-right: 3%;
}

header>div#links>a#ac {
	padding-left: 2%;
	padding-right: 2%;
	margin-left: 5%;
}

main {
	margin-top: 5%;
}

main>div#title {
	text-align: center;
	margin-bottom: 5%;
}

main>div#title>span {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 2.25vw;
	color: #FFF;
	text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
}

main>div#shop {
	margin-bottom: 5%;
}

main>div#shop>div#bg {
	position: relative;
	display: inline-block;
	text-align: center;
}

main>div#shop>div#bg>img {
	width: 20%;
	margin-bottom: 3%;
	border: 1px solid #343434;
	border-radius: 10px;
}

main>div#shop>div#bg>img#bg1 {
	margin-right: 5%;
}

main>div#shop>div#bg>img#bg3 {
	margin-left: 5%;
}

main>div#shop>div#gems1 {
	position: relative;
	margin-top: -45%;
	margin-left: 19%;
}

main>div#shop>div#gems1>img {
	width: 14%;
}

main>div#shop>div#gems2 {
	position: relative;
	margin-top: -8.25%;
	margin-left: 44.5%;
}

main>div#shop>div#gems2>img {
	width: 20.25%;
}

main>div#shop>div#gems3 {
	position: relative;
	margin-top: -8.25%;
	margin-left: 70%;
}

main>div#shop>div#gems3>img {
	width: 37%;
}

main>div#shop>div#gems4 {
	position: relative;
	margin-top: 15%;
	margin-left: 18%;
}

main>div#shop>div#gems4>img {
	width: 16%;
}

main>div#shop>div#gems5 {
	position: relative;
	margin-top: -10%;
	margin-left: 43.5%;
}

main>div#shop>div#gems5>img {
	width: 23%;
}

main>div#shop>div#gems6 {
	position: relative;
	margin-top: -9.5%;
	margin-left: 69%;
}

main>div#shop>div#gems6>img {
	width: 40%;
}

main>div#shop>div#discount1 {
	position: relative;
	margin-top: -37%;
	margin-left: 28%;
}

main>div#shop>div#discount1>img {
	width: 12%;
}