@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

@font-face {
	font-family: 'brawl';
	src: url('fonts/brawl.otf');
}

@font-face {
	font-family: 'supercell';
	src: url('fonts/supercell.ttf');
}

* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	background-color: #78B6FB;
}

::-webkit-scrollbar-button {
	background-image: url('');
	background-repeat: no-repeat;
	width: 5px;
	height: 0px
}

::-webkit-scrollbar-track {
	background-color: #8A6FFF
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 0px;
	border-radius: 10px;
	background-color: #3C22FF;
}

::-webkit-scrollbar-thumb:hover{
	background-color: #0600FF;
}

::-webkit-resizer{
	background-image: url('');
	background-repeat: no-repeat;
	width: 4px;
	height: 0px
}

::-webkit-scrollbar{
	width: 6px;
}

header {
	width: 100%;
}

header>div#title {
	width: 100%;
	position: relative;
	display: inline-block;
	text-align: center;
}

header>div#title>img {
	width: 100%;
}

header>div#title>span#brawl {
	position: absolute;
	font-family: brawl;
	font-size: 5vw;
	top: 10%;
	right: 49%;
	color: #FFF!important;
	text-shadow: 2px 0 2px #000, 0 2px 2px #000, -2px 0 2px #000, 0 -2px 2px #000;
}

header>div#title>span#shop {
	position: absolute;
	font-family: brawl;
	font-size: 5vw;
	top: 10%;
	left: 52%;
	color: #FF0000!important;
	text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
}

header>div#links {
	position: relative;
	margin-top: -2%;
	text-align: center;
}

header>div#links>a {
	text-decoration: none;
	font-family: 'Roboto Slab', serif;
	font-size: 2.25vw;
	right: 50.5%;
	border: 1px solid #831EFF;
	background-color: rgba(116, 126, 186, 0.7);
	opacity: 1;
	border-radius: 20px;
	color: #FFF;
	text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
	transition: 0.5s linear;
}

header>div#links>a:hover {
	background-color: rgba(116, 126, 186, 0);
	border: 1px solid #343434;
}

header>div#links>a#gems {
	padding-left: 5%;
	padding-right: 5%;
	margin-right: 5%;
}

header>div#links>a#rev {
	padding-left: 3%;
	padding-right: 3%;
}

header>div#links>a#hrs {
	padding-left: 4%;
	padding-right: 4%;
	margin-left: 5%;
}

main {
	margin-top: 5%;
	margin-bottom: 10%;
}

main>div#title {
	text-align: center;
	margin-bottom: 5%;
}

main>div#title>span {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 2.25vw;
	color: #FFF;
	text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
}

main>div#shop {
	margin-bottom: 5%;
	position: relative;
	display: inline-block;
}

main>div#shop>div#bg {
	text-align: center;
}

main>div#shop>div#bg>img {
	width: 20%;
	margin-bottom: 3%;
	border: 1px solid #343434;
	border-radius: 10px;
}

main>div#shop>div#bg>img#bg1 {
	margin-right: 5%;
}

main>div#shop>div#bg>img#bg3 {
	margin-left: 5%;
}

main>div#shop>div#gems1 {
	position: relative;
	margin-top: -45%;
	margin-left: 19%;
}

main>div#shop>div#gems1>img {
	width: 14%;
}

main>div#shop>div#gems2 {
	position: relative;
	margin-top: -8.25%;
	margin-left: 44.5%;
}

main>div#shop>div#gems2>img {
	width: 20.25%;
}

main>div#shop>div#gems3 {
	position: relative;
	margin-top: -8.25%;
	margin-left: 70%;
}

main>div#shop>div#gems3>img {
	width: 37%;
}

main>div#shop>div#gems4 {
	position: relative;
	margin-top: 15%;
	margin-left: 18%;
}

main>div#shop>div#gems4>img {
	width: 16%;
}

main>div#shop>div#gems5 {
	position: relative;
	margin-top: -10%;
	margin-left: 43.5%;
}

main>div#shop>div#gems5>img {
	width: 23%;
}

main>div#shop>div#gems6 {
	position: relative;
	margin-top: -9.5%;
	margin-left: 69%;
}

main>div#shop>div#gems6>img {
	width: 40%;
}

main>div#shop>div#discount1 {
	position: relative;
	margin-top: -39%;
	margin-left: 54%;
}

main>div#shop>div#discount1>img {
	width: 17%;
}

main>div#shop>div#discount2 {
	position: relative;
	margin-top: -5%;
	margin-left: 79.5%;
}

main>div#shop>div#discount2>img {
	width: 37%;
}

main>div#shop>div#discount3 {
	position: relative;
	margin-top: 18.9%;
	margin-left: 28%;
}

main>div#shop>div#discount3>img {
	width: 11%;
}

main>div#shop>div#discount4 {
	position: relative;
	margin-top: -5.1%;
	margin-left: 53%;
}

main>div#shop>div#discount4>img {
	width: 17%;
}

main>div#shop>div#discount5 {
	position: relative;
	margin-top: -5.3%;
	margin-left: 80%;
}

main>div#shop>div#discount5>img {
	width: 40%;
}

main>div#shop>div#price1 {
	position: relative;
	margin-top: -12%;
	margin-left: 21%;
}

main>div#shop>div#price1>a {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 2.25vw;
	text-decoration: none;
	color: #FFF;
	border: 1px solid #831EFF;
	border-radius: 2px;
	background-color: rgba(116, 126, 186, 0.7);
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	transition: 0.5s linear;
}

main>div#shop>div#price1>a:hover {
	background-color: rgba(116, 126, 186, 0);
	border: 1px solid #343434;
}

main>div#shop>div#price2 {
	position: relative;
	margin-top: -3%;
	margin-left: 46%;
}

main>div#shop>div#price2>a {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 2.25vw;
	text-decoration: none;
	color: #FFF;
	border: 1px solid #831EFF;
	border-radius: 2px;
	background-color: rgba(116, 126, 186, 0.7);
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	transition: 0.5s linear;
}

main>div#shop>div#price2>a:hover {
	background-color: rgba(116, 126, 186, 0);
	border: 1px solid #343434;
}

main>div#shop>div#price3 {
	position: relative;
	margin-top: -3%;
	margin-left: 72%;
}

main>div#shop>div#price3>a {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 2.25vw;
	text-decoration: none;
	color: #FFF;
	border: 1px solid #831EFF;
	border-radius: 2px;
	background-color: rgba(116, 126, 186, 0.7);
	padding-left: 4%;
	padding-right: 4%;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	transition: 0.5s linear;
}

main>div#shop>div#price3>a:hover {
	background-color: rgba(116, 126, 186, 0);
	border: 1px solid #343434;
}

main>div#shop>div#price4 {
	position: relative;
	margin-top: 22%;
	margin-left: 20.3%;
}

main>div#shop>div#price4>a {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 2.25vw;
	text-decoration: none;
	color: #FFF;
	border: 1px solid #831EFF;
	border-radius: 2px;
	background-color: rgba(116, 126, 186, 0.7);
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	transition: 0.5s linear;
}

main>div#shop>div#price4>a:hover {
	background-color: rgba(116, 126, 186, 0);
	border: 1px solid #343434;
}

main>div#shop>div#price5 {
	position: relative;
	margin-top: -2.8%;
	margin-left: 46%;
}

main>div#shop>div#price5>a {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 2.25vw;
	text-decoration: none;
	color: #FFF;
	border: 1px solid #831EFF;
	border-radius: 2px;
	background-color: rgba(116, 126, 186, 0.7);
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	transition: 0.5s linear;
}

main>div#shop>div#price5>a:hover {
	background-color: rgba(116, 126, 186, 0);
	border: 1px solid #343434;
}

main>div#shop>div#price6 {
	position: relative;
	margin-top: -2.8%;
	margin-left: 72%;
}

main>div#shop>div#price6>a {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 2.25vw;
	text-decoration: none;
	color: #FFF;
	border: 1px solid #831EFF;
	border-radius: 2px;
	background-color: rgba(116, 126, 186, 0.7);
	padding-left: 4%;
	padding-right: 4%;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	transition: 0.5s linear;
}

main>div#shop>div#price6>a:hover {
	background-color: rgba(116, 126, 186, 0);
	border: 1px solid #343434;
}

warranty {
	width: 100%;
	text-align: center;
}

warranty>div#wrnt>img#check {
	width: 22.5%;
	padding-right: 10%;
	margin-bottom: 3%;
}

warranty>div#wrnt>img#price {
	width: 22.5%;
	margin-right: 2%;
	margin-bottom: 3%;
}

warranty>div#text {
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
}

warranty>div#text>span {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.75vw;
	color: #343434;
}

#wave {
	float: left;
}

#wave>img {
	width: 100%;
}

info {
	background-color: #3E3E3E;
	width: 100%;
	float: left;
	margin-top: -1%;
}

info>div#copyright {
	margin-top: 5%;
	text-align: center;
}

info>div#copyright>span {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.5vw;
	color: #FFF;
}

info>div#copyright>span>a {
	text-decoration: none;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.5vw;
	color: #FC3F3F;
	margin-right: 1%;
	transition: 0.5s linear;
}

info>div#copyright>span>a:hover {
	color: #FD7676;
}

info>div#supercell {
	margin-top: 2%;
	text-align: center;
}

info>div#supercell>span {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.75vw;
	color: #FC3F3F;
}

info>div#supercell>span>a {
	text-decoration: none;
	font-family: supercell;
	font-size: 1.25vw;
	color: #FFF;
	margin-left: 1%;
	transition: 0.5s linear;
}

info>div#supercell>span>a:hover {
	color: #B8B8B8;
}

info>div#orders {
	margin-top: 2%;
	text-align: center;
}

info>div#orders>span {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.75vw;
	color: #FC3F3F;
}

info>div#rev {
	margin-top: 2%;
	text-align: center;
	margin-bottom: 5%;
}

info>div#rev>span {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.75vw;
	color: #FFF;
}

info>div#rev>span>a {
	text-decoration: none;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.75vw;
	color: #FC3F3F;
	margin-left: 1%;
	transition: 0.5s linear;
}

info>div#rev>span>a:hover {
	color: #FD7676;
}

footer1 {
	position: fixed;
	bottom: 0;
	left: 0;
	margin-left: 1%;
}

footer1>div#title {
	text-align: center;
}

footer1>div#title>span#brawl {
	font-family: brawl;
	font-size: 1.5vw;
	color: #FFF!important;
	text-shadow: 2px 0 2px #000, 0 2px 2px #000, -2px 0 2px #000, 0 -2px 2px #000;
}

footer1>div#title>span#shop {
	font-family: brawl;
	font-size: 1.5vw;
	color: #FF0000!important;
	text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
}

footer2 {
	position: fixed;
	bottom: 0;
	right: 0;
	margin-right: 1%;
}

footer2>div#title {
	text-align: center;
}

footer2>div#title>span#brawl {
	font-family: brawl;
	font-size: 1.5vw;
	color: #FFF!important;
	text-shadow: 2px 0 2px #000, 0 2px 2px #000, -2px 0 2px #000, 0 -2px 2px #000;
}

footer2>div#title>span#shop {
	font-family: brawl;
	font-size: 1.5vw;
	color: #FF0000!important;
	text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
}
